## Methods and Functions

In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
mylist.insert(1, 4)

In [8]:
mylist

[1, 4, 2, 3]

In [11]:
def say_hello():
    print('Hello')
    print('are')
    print('you')

In [12]:
say_hello()

Hello
are
you

In [15]:
def say_hello(name='Default'):
    print('Hello {}'.format(name))

In [16]:
say_hello('Eric')

Hello Eric

In [18]:
say_hello()

Hello Default

In [19]:
def add_num(num1, num2):
    return num1+num2

In [22]:
result = add_num(10,20)

In [23]:
result

30

In [24]:
def print_result(a,b):
    print(a+b)

In [25]:
def return_result(a,b):
    return a+b

In [26]:
result = print_result(10,20)

30

In [27]:
result

In [28]:
type(result)

NoneType

In [29]:
return_result(10,20)

30

In [30]:
result_r = return_result(10,20)

In [31]:
result_r

30

In [32]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [33]:
result = myfunc(10,20)

30

In [34]:
result

30

In [35]:
def sum_numbers(num1, num2):
    return num1+num2

In [36]:
sum_numbers(10,20)

30

In [37]:
sum_numbers('10','20')

'1020'

In [38]:
2 % 2

0

In [39]:
3 % 2

1

In [40]:
41 % 40

1

In [61]:
def even_list(num):
    # return all even numbers in a list
    
    #placeholder variables
    even_numbers = []
    
    for x in num:
        if x%2 == 0:
            even_numbers.append(x)
        else:
            pass
        
    return even_numbers

In [62]:
even_list([2,3,4])

[2, 4]

In [63]:
even_list([1,3,5])

[]

In [64]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [65]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [67]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [68]:
for ticker, price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [73]:
work_hours = [('Abby', 100), ('Billy', 4000), ('Cassie',800)]

In [74]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
            
            
    #Return
    return(employee_of_month, current_max)

In [75]:
employee_check(work_hours)

('Billy', 4000)

In [76]:
name,hours = employee_check(work_hours)

In [77]:
name

'Billy'

In [78]:
hours

4000

In [79]:
example = [1,2,3,4,5,6,7]

In [80]:
from random import shuffle

In [81]:
shuffle(example)

In [82]:
example

[7, 4, 2, 3, 1, 5, 6]

In [83]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [84]:
result = shuffle_list(example)

In [85]:
result

[7, 1, 5, 6, 3, 2, 4]

In [86]:
mylist = [' ','O',' ']

In [88]:
shuffle_list(mylist)

[' ', ' ', 'O']

In [93]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number 0, 1, or 2: ')
        
    return int(guess)

In [94]:
player_guess()

Pick a number 0, 1, or 2:
Pick a number 0, 1, or 2: 2

2

In [95]:
myindex = player_guess()

Pick a number 0, 1, or 2: 1

In [96]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print('Wrong guess!')
        print(mylist)

In [103]:
#Inital list
mylist = [' ','O',' ']

#Suffle list
mixedup_list = shuffle_list(mylist)

#User guess
guess = player_guess()

#Check guess
check_guess(mixedup_list,guess)

Pick a number 0, 1, or 2: 0
Wrong guess!
[' ', 'O', ' ']

## Args and Kwargs

In [106]:
def myfunc(a,b, c=0, d=0, e=0):
    #Returns 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [108]:
myfunc(40,60,20,30,5, 98)

TypeError: myfunc() takes from 2 to 5 positional arguments but 6 were given

In [109]:
def myfunc(*args):
    return sum(args) * 0.05

In [110]:
myfunc(40,60,100,1,34)

11.75

In [111]:
def myfunc(*args):
    for item in args:
        print(item)

In [115]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [116]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [119]:
def myfunc(*args, **kwargs):
    
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [120]:
myfunc(10,20,30,fruit='orange', food='eggs', animal='dog')

I would like 10 eggs

## Lambda and Nested

### Mapping

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [7]:
names = ['Andy','Bob','Sally']

In [8]:
list(map(splicer, names))

['EVEN', 'B', 'S']

### Filter

In [9]:
def check_even(num):
    return num%2 == 0

In [10]:
mynums = [1,2,3,4,5,6]

In [11]:
list(filter(check_even, mynums))

[2, 4, 6]

In [12]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

### Lambda

In [13]:
def square(num):
    result = num**2
    return result

In [14]:
square(3)

9

In [17]:
square = lambda num: num**2

In [18]:
square(5)

25

In [19]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [20]:
list(filter(lambda num: num%2 ==0,mynums))

[2, 4, 6]

In [21]:
names

['Andy', 'Bob', 'Sally']

In [24]:
list(map(lambda x:x[0],names))

['A', 'B', 'S']

In [26]:
list(map(lambda x:x[::-1],names))

['ydnA', 'boB', 'yllaS']

### Scope

In [27]:
x = 25

def printer():
    x=50
    return x

In [28]:
print(x)

25

In [29]:
print(printer())

50

In [30]:
# lambda num:num**2

In [34]:
name = 'THIS IS A GLOBAL STRING'

def greet():
#     name = 'Sammy'
    
    def hello():
        name = 'IM A LOCAL'
        print('Hello '+name)
        
    hello()

In [35]:
greet()

Hello IM A LOCAL

In [48]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    #Local Reassignment!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [51]:
func()

X is 50
I JUST LOCALLY CHANGED X TO NEW VALUE

In [52]:
print(x)

NEW VALUE